<h1 class="mb-4 text-primary">Leagues</h1>
<ul class="list-group">
  <% @leagues.each do |league| %>
    <li class="list-group-item">
      <%= link_to league.name, league_path(league), class: "text-decoration-none fw-bold" %>
    </li>
  <% end %>
</ul>
