<h1> Welcome to Football Base!</h1>

<p>
Here you can explore various football leagues and their clubs.
</p>

<h2>Quick Links:</h2>
<ul>
  <li><%= link_to 'View All Leagues', leagues_path %></li>
  <li><%= link_to 'View All Clubs', clubs_path %></li>
</ul>